<ul>
  <li><%= link_to "Войти", new_user_session_path %></li>
  <li><%= link_to "Регистрация", new_user_registration_path %></li>
  <li><%= link_to "Выйти", destroy_user_session_path, method: :delete %></li>
</ul>