<nav class="navbar navbar-light">
  <div class="container-fluid">
    <%= link_to 'X', root_path, class: 'navbar-brand' %>
    <ul class="navbar-nav list-group list-group-horizontal d-flex">
      <li class="nav-item list-group-item">
        <% if user_signed_in? %>
          <%= link_to "Выйти", destroy_user_session_path, method: :delete, class: "nav-link" %>
        <% else %>
          <%= link_to "Войти", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item list-group-item">
        <%= link_to "Регистрация", new_user_registration_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
